@import url(reset.css);

body {
	font: 12px/1.6 Arial, Verdana, Tahoma, sans-serif;
	color: #5d5d5d;
	background-color: #f4f4f4;
}

a {
	color: #fe9b00;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.active, a:hover {
	color: #090909;
}

p {
	margin: 8px 0;
}

h2, h3 {
	font-weight: bold;
	color: #090909;
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
	padding-left: 28px;
	background: url(../img-new/arrow.png) no-repeat 0 10px; 
	margin-bottom: 11px;
}

h3 {
	font-size: 12px;
	background: url(../img-new/arrow_small.png) no-repeat 0 8px;
	padding-left: 22px;
	margin-bottom: 20px;
}


#top-line {
	background: #090909;
	height: 16px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#header {
	padding: 20px 0 16px 0;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
}

#logo {
	width: 183px;
	height: 100px;
	float: left;
}

#menu {
	float: right;
	margin-top: 40px;
}

#menu ul li {
	list-style-type: none;
	float: left;
	margin-left: 63px; 
}

#header-image {
	height: 380px;
	background: url(../img-new/header-image.jpg) no-repeat;
	margin-top: 20px; 
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 20px;
	position: relative;
}

#black-box {
	width: 443px;
	height: 43px;
	background-color: #090909;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: #999898;
	position: absolute;
	left: 35px;
	bottom: 68px;
}

#black-box p {
	margin: 14px 12px;
	line-height: 1;
}

#black-box a {
	float: right;
}

#black-box a:hover {
	color: #fe9b00;
}

#content {
	margin-top: 7px;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
	padding-bottom: 24px; 
}

.content-box {
	width: 285px;
	float: left;
	margin-right: 52px;
}

.content-box h2 {
	border-bottom: 5px solid #090909;
	padding-bottom: 3px;
	margin-bottom: 16px;
}

.content-box ul li {
	list-style-type: none;
	background: url(../img-new/check.png) 0 2px no-repeat;
	padding-left: 28px;
	right: 40px;
	margin-top: 12px;
	margin-left: -40px;
	line-height: 1.3;
}

.italic-text {
	font-style: italic;
	color: #090909;
	margin-top: 20px;
}

#portfolio {
	margin-top: 20px;
	padding-bottom: 33px;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
}

.portfolio-image {
	width: 215px;
	height: 135px;
	float: left;
	margin-right: 33px;
	position: relative;
}

#portfolio-image, #content-box {
	margin-right: 0;
}

.portfolio-image a {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #090909;
	display: block;
	background: #fe9b00;
	padding: 4px 10px;
	line-height: 1;
}

#bottom-row {
	margin-top: 20px;
	overflow: hidden;
}

#blog {
	width: 670px;
	float: left;
}

#social {
	width: 220px;
	float: right;
}

#social ul li {
	float: left;
	list-style-type: none;
	margin-right: 12px;
}

#footer {
	background: #e2e2e2;
	padding: 60px 0 60px 0;
}

#footer-content {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#footer-content a {
	color: #5d5d5d;
	font-weight: normal;
	text-transform: capitalize;
}

#footer-content a:hover {
	text-decoration: underline;
}

#footer-content ul li {
	float: left;
	list-style-type: none;
	padding: 0 7px;
	border-left: 1px solid #5d5d5d;
	line-height: 1;
}

#footer-content ul li: first-of-type {  /*не работает*/
	padding-left: 0;
	border: none;
}

#footer-content p {
	margin: 3px 0 0 0;
}

#logo-footer {
	width: 119px;
	height: 64px;
	background: url(../img-new/logo-footer.png) no-repeat;
	position: absolute;
	top: 19px;
	right: 0;
}

.clear {
	clear: both;
}
